<h2>My Heroes</h2>
<form #validateForm="ngForm" novalidate>
<div>
    <label>Hero name:
        <input #heroName  required minlength="3" [(ngModel)]="heroName.value">
      </label>

  <div *ngIf="heroName.invalid && (heroName.dirty || heroName.touched)" class="alert alert-danger">
  <div *ngIf="heroName.errors.required">
    Name is required.
  </div>



    <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value)" >
    add
  </button>

</div>
<div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}{{ hero.date | date:'MMM dd,y hh mm a' }}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
</div>
</form>
